---
layout: page
title: Blog
subtitle: Blog posts on .NET, Azure, and more.
paginate: true
---

{% for post in paginator.posts %}
<div class="row mb-3 border-bottom">
    <h2 class="display-5">
        <a class="text-body-emphasis text-decoration-none" href="{{ site.url }}{{ post.url }}">
            {{ post.title }}
        </a>
    </h2>
    <p>{{ post.date | date: '%B %d, %Y' }} by <a class="text-body-emphasis text-decoration-none"
            href="{{ site.url }}/about">{{ post.author }}</a></p>
    <p>
        {% for category in post.categories %}
        <span class="badge rounded-pill text-bg-secondary">{{ category }}</span>
        {% endfor %}
    </p>
    <p class="lead">
        {{ post.excerpt | markdownify | strip_html }}
    </p>
</div>
{% endfor %}


<nav>
    <ul class="pagination justify-content-center">
        {% if paginator.previous_page %}
        <li class="page-item">
            <a class="text-body-emphasis text-decoration-none page-link" href="{{ paginator.previous_page_path }}">
                &#8249;&nbsp;Previous
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">&#8249;&nbsp;Previous</a>
        </li>
        {% endif %}
        <li class="page-item">
            <span class="text-body-emphasis text-decoration-none page-link disabled">Page: {{ paginator.page }} of {{
                paginator.total_pages }}</span>
        </li>
        {% if paginator.next_page %}
        <li class="page-item">
            <a class="text-body-emphasis text-decoration-none page-link" href="{{ paginator.next_page_path }}">Next&nbsp;&#8250;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">Next&nbsp;&#8250;</a>
        </li>
        {% endif %}
    </ul>
</nav>

{% include footer.html %}